.form {
  display: flex;
  flex-wrap: wrap;
  width: 66.66%;
  margin: 70px auto 0;
  border: 1px solid #000;

  @media (max-width: $tablet-max) {
    width: auto;
    margin-left: -$gap-half;
    margin-right: -$gap-half;
  }

  @media (max-width: $mobile-max) {
    display: block;
  }
}

.form-field {
  flex-basis: 100%;
  padding: 0 $gap-half;
  margin-bottom: 30px;
}

.form-field-half {
  flex-basis: 50%;
}

.form-label {
  padding-left: 20px;
  font-size: 20px;
  line-height: 27px;
  color: $color-accent;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 20px;
  font-family: $font;
  font-size: 20px;
  line-height: 27px;
  border-radius: 8px;
  background-color: $color-light;
  border: none;
  color: inherit;

  &:disabled {
    background-color: rgba($color-dark, .1);
  }
}

.form-textarea {
  resize: vertical;
  height: 167px;
}

.form-checkbox {
  display: none;
}

.form-checkbox-text {
  display: flex;
}

.form-checkbox:checked + .form-checkbox-text {
  .form-checkbox-icon {
    background-color: $color-accent;
    box-shadow: inset 0 0 0 3px #fff;
  }
}

.form-checkbox-icon {
  flex-shrink: 0;
  display: block;
  margin-right: 10px;
  width: 32px;
  height: 32px;
  border: 2px solid $color-accent;
  border-radius: 5px;
}
