.header {
  background-color: $color-dark;
}

.header-logo {
  color: $color-light;
  font-weight: 300;
  font-size: 42px;
  line-height: 49px;
  text-decoration: none;
}

.header-phone {
  color: $color-light;
  font-size: 24px;
  line-height: 33px;
  text-decoration: none;
}
