.order {
  padding: 100px 0 90px;
  background-color: rgba($color-light, .2);

  @media (max-width: $tablet-max) {
    padding: 70px 0;
  }

  @media (max-width: $mobile-max) {
    padding: 50px 0;
  }
}

.order-inner {
  @include inner;
}

.order-title {
  @include section-title;
}

.order-separator {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    max-width: 1278px;
    height: 1px;
    margin: 0 auto;
    background-color: $color-dark;
    opacity: .2;
  }
}
