@mixin inner {
  width: 1278px;
  margin: 0 auto;
  border: 1px solid red;
}

@mixin section-title {
  font-family: $font-title;
  color: $color-accent;
  font-weight: 300;
  font-size: 58px;
  line-height: 68px;
  text-align: center;
}
