// Fonts
$font-title: 'Raleway', sans-serif;
$font: 'Open Sans', sans-serif;

// colors
$color-dark: #152B3C;
$color-accent: #D46240;
$color-light: #FBF2DA;

// indents
$gap: 30px;
$gap-half: calc($gap / 2);

// breakpoints
